$( document ).ready(function() {
    $.ajax({
        type: 'GET',
        url: '/api/items',
        success: function(aItems) {
            let sToAppend = '';
            let iItemsLength = aItems.length;
            if (iItemsLength > 0) {
                for ( var iCounter = 0; iCounter < iItemsLength; iCounter++) {
                    sToAppend += `
                        <tr>
                            <td scope="row">${aItems[iCounter].id }</td>
                            <td>${aItems[iCounter].name}</td>
                            <td>${aItems[iCounter].qty }</td>
                            <td>${aItems[iCounter].amount }</td>
                            <td>
                                <a href="/items/${aItems[iCounter].id }" class="btn btn-success">Edit</a>
                                <button value=${aItems[iCounter].id } class="btn btn-danger deleteItem">Delete</button>
                            </td>
                        </tr>
                    `;
                }
                $('#inventoryTable').append(sToAppend);
            } else {
                $('#inventoryTable').append('<p>No record.</p>');
            }
        },
        error: function(err) {
            console.log(err);
            $('#inventoryTable').append('<p>An error has occured.</p>');
        }
    });
    
    $(document).on('click', '.deleteItem', function(){
        let bConfirm = confirm('Are you sure you want to delete this item?');
        if (bConfirm === true) {
            let iId = $(this).val();
            //front end validation here
            $.ajax({
                type: 'DELETE',
                url: '/api/items/' + iId,
                success: function(aResult) {
                    if (aResult.serverStatus === 2) {
                        alert('Item deleted successfully.');
                        location.href = '/';
                    } else {
                        alert('An error has occured.');
                        console.log(aItem);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
    });
});